<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <nav class="main-menu">
    <ul class="left">
      <li class="brand"><a href="#">MyAwesomeShop</a></li>
    </ul>
    <ul>
      <li><a href="#">Dumb link</a></li>
      <li class="dropdown_btn"><a href="#">Dumb link</a>
        <div class="dropdown">
          <ul>
            <li><a href="#">Dropdown dumb link</a></li>
            <li><a href="#">Dropdown dumb link</a></li>
            <li><a href="#">Dropdown dumb link</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown_btn"><a href="#">Dumb link</a>
        <div class="dropdown">
            <ul>
              <li><a href="#">Dropdown dumb link</a></li>
              <li><a href="#">Dropdown dumb link</a></li>
              <li><a href="#">Dropdown dumb link</a></li>
            </ul>
          </div>
      </li>
    </ul>
  </nav>
  <div class="wrapper">
    <div id="root"></div>
    <noscript>This site is made with React. If You want to use it - enable JS or change your browser</noscript>
  </div>
</body>
</html>