*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: 90%;
}

.login-form {
    display: flex;
    height: 100%;
}

.login-form form {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    background: #FFFFFF;
    border: 5px ridge #ececea;
    border-radius: 15px;
}

.form-group {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group label {
    font-family: sans-serif;
    padding: 5px;
    width: 100%;
}

.form-group input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
} 

.login-form form button {
    margin-top: 0.5rem;
    padding: 0.3rem;
    border-radius: 1rem;
    background: #558c89;
}

.login-form form button:hover {
    background: #74AFAD;
}
