html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 3rem;
}

.wrapper {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.sidebar {
    position: absolute;
    /* left: -17%; */
    width: 17%;
    
    float: left;
    background: #ECECEA;
    
}

.sidebar ul {
    text-align: center;
    list-style: none;
    width: 100%; 
    margin: 0 auto;
}

.sidebar>ul>li>a {
    padding: 1rem;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
}

.products::after,
.sidebar::after,
.wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.products {
    /* height: 100%; */
    /* min-height: 100%; */
    padding: 1rem;
    float: right;
    width: 83%;
    background: #FFFFFF;
}

.products::after {
    content: "";
    display: table;
    clear: both;
}

.product-card {
    border: 0.1rem solid #558c89;
    background: #FFFFFF;
    float: left;
    width: 22%;
    padding: 1rem;
    text-align: center;
    margin: 1rem 4% 0 0;
}

.product-card:hover {
    box-shadow: rgba(128, 128, 128, 0.233) 0.5rem 0.5rem;
}

.product-card a {
    color: #000000;
    text-decoration: none;
}

.product-card a:hover {
    color: #74afad
}

.product-card:nth-child(4n) {
    margin-right: 0;
}

.product-card img {
    width: 90%;
}

.product-card__details {
    list-style: none;
    margin-top: 0.5rem;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    margin-top: 2rem;
    background: #558C89;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1200px) {
    .product-card {
        width: 48%;
    }
    .product-card:nth-child(2n) {
        margin-right: 0%;
    }
}

@media screen and (max-width: 768px) {
    .product-card {
        width: 100%;
    }
}

/* DEVELOPMENT THINGS */

/* footer,
.sidebar,
.products {
    border: 3px dashed red;
}
*/

/* END DEV */